<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Car_Store</title>
        <link rel="stylesheet" href="~/css/all.min.css" />
        <link rel="stylesheet" href="~/css/normalize.css" />
        <link rel="stylesheet" href="~/css/master.css"  />
    </head>
    <body>
        <div class="header">
            <div class="nav-bar">
                <div class="logo">
                    <i class="fa-car-side"></i>
                    <span>TRMP cars</span>
                </div>
                <form class="nav-search">
                    <input type="search" placeholder="search" />
                </form>
                <div class="support">
                    <i class="fa-solid fa-users"></i>
                    <span>support</span>
                    <p>01124656030</p>
                </div>
            </div>
            <div class="sub-nav">
                <div class="temp-1">
                    <ul class="ul-1">
                        <li>
                            <i class="fa-solid fa-bars"></i>
                            <span>Categories</span>
                        </li>
                        <li>
                            <a href="#">promotions</a>
                        </li>
                        <li>
                            <a href="#">Brancesh</a>
                        </li>
                        <li>
                            <a href="#">our contacts</a>
                        </li>
                    </ul>
                    <ul class="ul-2">
                        <li>
                            <a href="#">EN</a>
                        </li>
                        <li>
                            <a href="#">USD</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-user" style="color:black"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-heart" style="color:white"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-heart" style="color:white"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-cart-shopping" style="color:white"></i ></a>
                        </li>


                    </ul>
                </div>
            </div>

        </div>    
        
        
        
        
        
        
        
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - Car_Store - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    </body>
</html>