<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TRMB cars</title>
        <!-- My Style -->
        <link rel="stylesheet" href="~/css/adminlay.css" asp-append-version="true">
        <!-- Nomralize Css -->
        <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true">
        <!-- goole icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        <!-- My FarmeWork -->
        <link rel="stylesheet" href="~/css/framework.css" asp-append-version="true">
        <!-- Font Google -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap" rel="stylesheet">
        
    </head>
    <body>
    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <a href="#" class="nav__link nav__logo">
                    <!-- the icon will apear in the project -->
                    <i class="fa-sharp fa-solid fa-car-side"></i>
                    <span class="nav__logo-name">TRMB Cars</span>
                </a>

                <div class="nav__list">
                    <div class="nav__items">
                         <h3 class="nav__subtitle">Ahmed  Bassam</h3>

                        <a asp-page="/AdminView" class="nav__link active">
                            <!-- <i class="fa-solid fa-chart-line"></i> in the bigger website -->
                            <i class='bx bx-home nav__icon'></i>
                            <span class="nav__name">Dashboard</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class='bx bx-user nav__icon'></i>
                            <span class="nav__name">Profile</span>
                        </a>

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-user nav__icon'></i>
                                <span class="nav__name">Manage</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a class="nav__dropdown-item" asp-page="/DisplayClients">Users</a>
                                    <a  class="nav__dropdown-item" asp-page="/addproduct">Products</a>
                                    <a class="nav__dropdown-item">Employees</a>
                                    <a  class="nav__dropdown-item">Branches</a>
                                    <a  class="nav__dropdown-item">Departments</a>
                                    <a  class="nav__dropdown-item" asp-page="/AddShowRoom">Show Rooms</a>
                                    <a class="nav__dropdown-item" a asp-page="/AddServicesCenters">Service Center</a>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    <div class="nav__items">
                        <!-- <h3 class="nav__subtitle">Menu</h3> -->

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-bell nav__icon'></i>
                                <span class="nav__name">Notifications</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a asp-page="/displayPendingPosts" class="nav__dropdown-item">Pending Posts</a>
                                    <a  class="nav__dropdown-item">Purschases</a>
                                </div>
                            </div>

                        </div>
                        <div class="nav__dropdown">
                            <a  class="nav__link">
                                <i class='bx bx-bell nav__icon'></i>
                                <span class="nav__name">Statistics</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a class="nav__dropdown-item">Employees</a>
                                    <a class="nav__dropdown-item">Orders</a>
                                    <a class="nav__dropdown-item">Vehicles</a>
                                    <a class="nav__dropdown-item">Clients</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <a href="#" class="nav__link nav__logout">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <!-- Start Footer -->
    <footer>
        <div class="container">
            <div class="container bg-blue w-full">
                <div class="cols ba-flex mb-20 d-block">
                    <div class="box-link mt-10">
                        <h4 class="fs-18 c-white mb-10" style="width: 100%;">Service</h4>
                        <div class="fl-column d-flex mt-15 ">
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Sell Car</span></a>
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Buy Car</span></a>
                        </div>
                    </div>
                    <div class="box-link mt-10">
                        <h4 class="fs-18 c-white mb-10" style="width: 80%;">Know more</h4>
                        <div class="fl-column d-flex mt-15 ">
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Privacy Policy</span></a>
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Terms of Services</span></a>
                            <a href="#"><span class="fs-16 c-white d-block">Contacts</span></a>
                        </div>
                    </div>
                    <div class="box-link mt-10">
                        <h4 class="fs-18 c-white mb-10" style="width: 80%;">Categories</h4>
                        <div class="fl-column d-flex mt-15 ">
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Used</span></a>
                            <a href="#"><span class="fs-16 c-white d-block pb-10">New Cars</span></a>
                            <a href="#"><span class="fs-16 c-white d-block">Accessories</span></a>
                        </div>
                    </div>
                    <div class="box-link mt-10">
                        <h4 class="fs-18 c-white mb-10" style="width: 90%;">Brands</h4>
                        <div class="fl-column d-flex mt-15 ">
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Nissan</span></a>
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Tesla</span></a>
                            <a href="#"><span class="fs-16 c-white d-block">Jeep</span></a>
                        </div>
                    </div>
                    <div class="box-link mt-10">
                        <h4 class="fs-16 c-white mb-10">Service Contacts</h4>
                        <div class="fl-column d-flex mt-15 ">
                            <a href="#"><span class="fs-16 c-white d-block pb-10">6th October</span></a>
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Ismailia</span></a>
                            <a href="#"><span class="fs-16 c-white d-block">Zamalek</span></a>
                        </div>
                    </div>
                </div>
                <div class="line bn-flex ">
                    <div class="social ml-15 mb-15 pl-20">
                        <span class="c-white fs-17 pr-10">Follow Us</span>
                        <a href="#"><i class="fa-brands c-white fa-whatsapp pr-5 fs-18"></i></a>
                        <a href="#"><i class="fa-brands c-white fa-facebook-f pr-5 fs-18"></i></a>
                        <a href="#"><i class="fa-brands c-white fa-youtube pr-5 fs-18"></i></a>
                        <a href="#"><i class="fa-brands c-white fa-linkedin pr-5 fs-18"></i></a>
                        <a href="#"><i class="fa-brands c-white fa-twitter pr-5 fs-18"></i></a>
                        <a href="#"><i class="fa-brands c-white fa-instagram pr-5 fs-18"></i></a>
                    </div>
                    <div class="mobile-app mr-20 pr-20">
                        <span class="c-white pr-15">Mobile App</span>
                        <a href="#"><i class="fa-brands fa-apple c-white fs-18 pr-5 "></i></a>
                        <a href="#"><i class="fa-brands fa-android c-white fs-18 "></i></a>
                    </div>
                </div>
                <span class="center-flex c-white fs-14 ">Copyright Are reserved TRMB Cars &copy; 2023</span>
            </div>
        </div>
    </footer>
    </body>
<!-- End Footer -->
</html>