@using MyData = System.Data
@using MyDB = Car_Store.models
@{
    // Use the MyData namespace alias instead of System.Data
    MyData.DataTable table = new MyData.DataTable();
    MyDB.DB dB = new MyDB.DB();
    string Fname = "";
    string LName = "";
    int pendingPostsNo;
    MyDB.DB db = new MyDB.DB();
    pendingPostsNo = db.getNoPendingPosts();
    if (ViewContext.HttpContext.Session.GetInt32("User_ID") == null)
    {
        Fname = "Unknown";
    }
    else
    {
        int ID = (int)ViewContext.HttpContext.Session.GetInt32("User_ID");
        table = (MyData.DataTable)dB.getAdminName(ID: ID);
        Console.WriteLine("Number of rows in table: " + table.Rows.Count);
        if (table.Rows.Count > 0)
        {
            Fname = table.Rows[0]["Fname"].ToString();
            LName = table.Rows[0]["Lname"].ToString();
        }
    }
}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TRMB cars</title>
        <!-- My Style -->
        <link rel="stylesheet" href="~/css/adminlay.css" asp-append-version="true">
        <!-- Nomralize Css -->
        <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true">
        <!-- goole icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        <!-- My FarmeWork -->
        <link rel="stylesheet" href="~/css/framework.css" asp-append-version="true">
        <!-- Font Google -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap" rel="stylesheet">


    </head>
    <body>
    <!--========== NAV ==========-->
    <div class="header__toggle">
        <i style="padding:20px;" class="fa-solid fa-bars bx bx-menu" id="header-toggle"></i>
        
    </div>
    <div class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <a href="/Index" class="nav__link nav__logo">
                    <!-- the icon will apear in the project -->
                    <i class="fa-sharp fa-solid fa-car-side"></i>
                    <span class="nav__logo-name">TRMB Cars</span>
                </a>

                <div class="nav__list">
                    <div class="nav__items">
                         <h3 class="nav__subtitle">@Fname @LName</h3>

                        <a asp-page="/AdminView" class="nav__link active">
                            <!-- <i class="fa-solid fa-chart-line"></i> in the bigger website -->
                            <i class='bx bx-home nav__icon'></i>
                            <span class="nav__name">Dashboard</span>
                        </a>
                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-user nav__icon'></i>
                                <span class="nav__name">Manage</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a class="nav__dropdown-item" asp-page="/DisplayClients">Display Users</a>
                                    <a  class="nav__dropdown-item" asp-page="/addproduct">Add Product</a>
                                    <a  class="nav__dropdown-item" asp-page="/UpdateEmployee">Update My Data</a>
                                    <a class="nav__dropdown-item" asp-page="/AddEmployee">Add Employees</a>
                                    <a class="nav__dropdown-item" asp-page="/DisplayAllCars">Our Vehicles</a>
                                    <a  class="nav__dropdown-item" asp-page="/AdminAddCar" >Add Vehicle</a>
                                    <a  class="nav__dropdown-item" asp-page="/AddShowRoom">Show Rooms</a>
                                    <a class="nav__dropdown-item" asp-page="/ServiceCenters">Service Center</a>
                                    <a class="nav__dropdown-item" asp-page="/UpdateServiceCenters">Update Service Center</a>
                                    <a  class="nav__dropdown-item" asp-page="/AddShowRoom">Show Room</a>
                                    <a class="nav__dropdown-item"  asp-page="/AddServicesCenters">Add Service Center</a>
                                    <a class="nav__dropdown-item">Departments</a>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nav__items">
                        <!-- <h3 class="nav__subtitle">Menu</h3> -->

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-bell nav__icon'></i>
                                <span class="nav__name">Notifications</span> @if(pendingPostsNo > 0){<span class="circle"></span>}
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a asp-page="/displayPendingPosts" class="nav__dropdown-item">Pending Cars</a>
                                    <a class="nav__dropdown-item" asp-page="/DisplayOrderAdmin">Orders</a>
                                </div>
                            </div>

                        </div>
                        <div class="nav__dropdown">
                            <a  class="nav__link">
                                <i class='bx bx-bell nav__icon'></i>
                                <span class="nav__name">Statistics</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a class="nav__dropdown-item" asp-page="/AdminView" asp-fragment="sectionEmployees">Employees</a>
                                    <a class="nav__dropdown-item" asp-page="/AdminView" asp-fragment="sectionVehicles">Vehicles</a>
                                    <a class="nav__dropdown-item" asp-page="/AdminView" asp-fragment="sectionBranches">Branches</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                <form method="post">
                    <button class="logoutBtn" type="submit" sytle="padding: 0; margin-top: -45px; background: transparent; text-align: left;" asp-page-handler="Logout">
                        <li style="color:#FF0000"><i class="fa-solid fa-right-from-bracket" style="color: #FF0000"></i> Log Out</li>
                    </button>
                </form>
            </a>
        </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <!-- Start Footer -->
    <footer>
        <div class="container">
            <div class="container bg-blue w-full">
                <div class="cols ba-flex mb-20 d-block">
                    <div class="box-link mt-10 footer-box-1">
                        <h4 class="fs-18 c-white mb-10" style="width: 100%;">Service</h4>
                        <div class="fl-column d-flex mt-15 ">
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Sell Car</span></a>
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Buy Car</span></a>
                        </div>
                    </div>
                    <div class="box-link mt-10 footer-box-2">
                        <h4 class="fs-18 c-white mb-10" style="width: 80%;">Know more</h4>
                        <div class="fl-column d-flex mt-15 ">
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Privacy Policy</span></a>
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Terms of Services</span></a>
                            <a href="#"><span class="fs-16 c-white d-block">Contacts</span></a>
                        </div>
                    </div>
                    <div class="box-link mt-10 footer-box-3">
                        <h4 class="fs-18 c-white mb-10" style="width: 80%;">Categories</h4>
                        <div class="fl-column d-flex mt-15 ">
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Used</span></a>
                            <a href="#"><span class="fs-16 c-white d-block pb-10">New Cars</span></a>
                            <a href="#"><span class="fs-16 c-white d-block">Accessories</span></a>
                        </div>
                    </div>
                    <div class="box-link mt-10 footer-box-4">
                        <h4 class="fs-18 c-white mb-10" style="width: 90%;">Brands</h4>
                        <div class="fl-column d-flex mt-15 ">
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Nissan</span></a>
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Tesla</span></a>
                            <a href="#"><span class="fs-16 c-white d-block">Jeep</span></a>
                        </div>
                    </div>
                    <div class="box-link mt-10 footer-box-5">
                        <h4 class="fs-16 c-white mb-10">Service Contacts</h4>
                        <div class="fl-column d-flex mt-15 ">
                            <a href="#"><span class="fs-16 c-white d-block pb-10">6th October</span></a>
                            <a href="#"><span class="fs-16 c-white d-block pb-10">Ismailia</span></a>
                            <a href="#"><span class="fs-16 c-white d-block">Zamalek</span></a>
                        </div>
                    </div>
                </div>
                <div class="line bn-flex ">
                    <div class="social ml-15 mb-15 pl-20">
                        <span class="c-white fs-17 pr-10">Follow Us</span>
                        <a href="#"><i class="fa-brands c-white fa-whatsapp pr-5 fs-18"></i></a>
                        <a href="#"><i class="fa-brands c-white fa-facebook-f pr-5 fs-18"></i></a>
                        <a href="#"><i class="fa-brands c-white fa-youtube pr-5 fs-18"></i></a>
                        <a href="#"><i class="fa-brands c-white fa-linkedin pr-5 fs-18"></i></a>
                        <a href="#"><i class="fa-brands c-white fa-twitter pr-5 fs-18"></i></a>
                        <a href="#"><i class="fa-brands c-white fa-instagram pr-5 fs-18"></i></a>
                    </div>
                    <div class="mobile-app mr-20 pr-20">
                        <span class="c-white pr-15">Mobile App</span>
                        <a href="#"><i class="fa-brands fa-apple c-white fs-18 pr-5 "></i></a>
                        <a href="#"><i class="fa-brands fa-android c-white fs-18 "></i></a>
                    </div>
                </div>
                <span class="center-flex c-white fs-14 ">Copyright Are reserved TRMB Cars &copy; 2023</span>
            </div>
        </div>
    </footer>
    <script src="~/js/adminlay.js"></script>
    </body>
<!-- End Footer -->
</html>