################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Car_Store
/bin/Debug/net6.0
/obj
/.vs/ProjectEvaluation
.vscode/tasks.json
.vscode/launch.json
*.1
