/*start global rules*/
*{
    box-sizing:border-box !important;
}

.sec-color {
    color: #6d6c6c;
}

.main-color {
    color: #0d6efd;
}

.my-input {
    width: 100% !important;
    height: 50px;
    background-color: rgba(255,255,255,.22);
    border: 1px solid #e4e4e4 !important;
    box-shadow: 0 2px 5px rgba(0,0,0,.1) !important;
    padding: 0 16px;
    margin: 0;
    border-radius: 5px;
    line-height: unset;
}

.card {
    margin-top: 20px;
    display: flex;
    /*padding: 0px 70px;*/
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    flex-direction: column;
}
label {
    display: block;
    margin: 10px 0px;
}
.my-card {
    flex-basis: 345px;
    max-width:345px;
    height: 150px;
    margin: 15px 0px;
    background-color: #0d6efd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.my-select {
    width: 100%;
    background-color: transparent !important;
    box-shadow: unset !important;
    border: 1px solid #e4e4e4 !important;
    padding-left: 16px !important;
    border-radius: 5px !important;
    height: 50px;
}

ul {
    list-style: none;
    padding: 0px;
}
.my-page-product{
    padding:100px;
}
input[type="file"] {
    display: none;
}
.my-card label{
    color:white;
}
.flex-row-double {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.flex-item-d{
    flex-basis:50%;
}
.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: 0;
    background-color: #f2a222;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    padding: 16px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    width: 100%;
}
/*end global rules*/









