/*body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EEEEEE;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/
a{
    color:black;
}
.containerAdmin {
    margin-top:30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:30px;
    margin-left: auto;
    margin-right: auto;
}


.sidebar {
    align-self:start;
}

div .containerAdmin {
    display: flex;
    gap: 150px;
    flex-direction: row;
    align-items: center;
}

/* Small */
@media (max-width: 1350px) {
    div .containerAdmin {
        flex-direction: column;
    }
}

.text {
    text-align:center;
}

.theList {
    list-style: none;
}

.theList li {
    padding-top: 15px;
    margin: 40px;
    width: 258px;
    height: 35px;
    background: #D9D9D9;
    border-radius: 6px;
}

.allpagecontent i {
    padding-left: 15px;
    padding-right: 5px;
}

.carditem {
    background: #77A0F1;
    border-radius: 23px;
    width:calc(100%/3);
    height:auto;

}

.cardcontent {
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.cardcontent span {
    padding-left:35px;
}

.cards {
    display:flex;
    gap:150px;
}

.customers h1 {
    margin-top: 60px;
}
.customerCard {
    display:flex;
    margin-top:30px;    
}

.aboveItems span{
    padding:50px;

}
.downItems {
    width:calc(100%*.9);
    padding-left:50px;
}

button {
    color: white;
    border-radius: 20px;
    width: 144px;
    height: 30px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.buttons {
    display:flex;
    justify-content:end;
}

.buttonItem {
    padding-left:20px;
}

img {
    height:130px;
    width:150px;
    border-radius:18px;
}

.logoutBtn {
    padding: 0; margin-top: -45px; background: transparent; text-align: left;
}