
* {
    box-sizing: border-box !important;
}

.all-page-content-c{
    padding:10px;
}
@media (min-width:1300px){
    .all-page-content-c{
        padding:100px;
    }
}
.posts{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
@media (max-width:660px){
    .posts{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}
@media(min-width:847px) and (max-width:1160px){
    .posts{
        align-items:center;
        justify-content:center;
        gap:100px;
    }
}
.sec-color {
    color: #6d6c6c;
}

.main-color {
    color: #0d6efd;
}

.Post-Card {
    flex-basis: 22%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    min-width: 300px;
    text-align: left;
    box-shadow: rgb(204, 204, 204) 0px 11px 20px 5px;
}
.Post-Card h2{
    
}

.Post-Card img {
  width: 100%;
  margin-bottom: 10px;
  height: 144px;
  object-fit: cover;
  border-radius:10px;
}

.Post-Card h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.Post-Card p {
  font-size: 16px;
  margin: 0 0 9px 0;
}
.double-items{
    display:flex;
    justify-content:space-between;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c00;
}

.general-input {
    border-radius: 12px;
    margin-top: 15px;
    height: 40px
}

label{
    display:block;
}
input:focus {
    border: 1px solid #0d6efd;
}

.my-from {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    padding-top:20px;
}