
* {
    box-sizing: border-box !important;
}

.all-page-content-c{
    padding:100px;
}
.posts{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
@media (max-width:870px){
    .posts{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}
.sec-color {
    color: #6d6c6c;
}

.main-color {
    color: #0d6efd;
}

.Post-Card {
    flex-basis:22%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width:300px;

}
.Post-Card h2{
    
}

.Post-Card img {
  width: 100%;
  margin-bottom: 10px;
  height: 144px;
  object-fit: cover;
  border-radius:10px;
}

.Post-Card h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.Post-Card p {
  font-size: 16px;
  margin: 0 0 20px 0;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c00;
}


