@page
@model Car_Store.Pages.AddShowRoomModel
@{
        
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }

}

<link rel="stylesheet" href="~/css/AddCar.css" asp-append-version="true">

<div class="w-full bn-flex">
    <div class="all-ctg ml-20 d-flex">
        <div class="center-flex c-black fw-bold fs-15">
            <a href="/DisplayShowRooms" class="pl-10 Trs-05 c-black pr-10">View Show Rooms</a>
            <a href="/AddShowRoom" class="pl-10 Trs-05 c-black pr-10"> Add Show Rooms</a>
        </div>
    </div>
</div>
<div class="content">
<div class="all-page-content">
    
    <form method="post" id="main-form">
        @*start car info*@
        <span class="sec-color"><i class="fa-solid fa-memo-circle-info"></i> Show Room Details</span>
        <div class="car-details">
            <div class="car-title">
                <label for="car-title">Name*</label>
                <input  name="name" type="text" id="car-title" required
                           placeholder="Ex: Giza152" minlength="3" maxlength="30" pattern="[A-Za-z0-9 ]+" />
            </div>
            <div class="car-year">
                <label for="car-title">City*</label>
                    <input name="city" type="text" id="car-title" required class="my-input" placeholder="Ex: Giza" minlength="3" maxlength="30" pattern="[A-Za-z0-9 ]+" />
            </div>
            <div class="transition-fuel">
                <div class="gearing">
                    <label for="Fuel">Street*</label>
                        <input name="street" type="text" id="car-title" required class="my-input" placeholder="Ex: Matbaa Street" minlength="3" maxlength="150" pattern="[A-Za-z0-9 ]+" />
                </div>
                <div class="fuel">
                    <label for="Fuel">Phone Number*</label>
                        <input name="phoneNumber" type="text" id="car-title" required class="my-input" placeholder="Ex: 01100242415" pattern="[0-9]+"  />
                </div>
            </div>
        </div>
        <div>
            <input form="main-form" class="sub" type="submit" value="Add Show Room" />
        </div>
    </form>
</div>
</div>