@page
@model Car_Store.Pages.CartPageModel
@{
}

<link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true">
<!-- Start Cart Section-->
<section class="cart page_margin">
        <div class="items">
            <div class="item-box">
                <div class="item">
                    <div class="car-img">
                        <img src="./images/image-car-6.jpg" alt="car image">
                    </div>
                    <div class="item-description">
                        <h3>Mazda CX404</h3>
                        <div class="color-info"><span class="color">Color:</span> <span>Baby blue</span></div>
                        <div class="class-info"><span class="class">Class:</span> <span>Third</span></div>

                        <div class="icons">
                            <div class="remove">
                                <a href="">
                                    <i class="fa-solid fa-trash-can"></i>
                                    <span>remove</span>
                                </a>
                            </div>

                            <div class="Add-wishlist">
                                <a href="">
                                    <i class="fa-regular fa-heart"></i>
                                    <span>Add to wishlist</span>
                                </a>
                            </div>
                        </div>
                        <div class="price"> $1,199,00</div>
                    </div>
                </div>

                <div class="item">
                    <div class="car-img">
                        <img src="./images/image-car-6.jpg" alt="car image">
                    </div>
                    <div class="item-description">
                        <h3>Mazda CX404</h3>
                        <div class="color-info"><span class="color">Color:</span> <span>Baby blue</span></div>
                        <div class="class-info"><span class="class">Class:</span> <span>Third</span></div>

                        <div class="icons">
                            <div class="remove">
                                <a href="">
                                    <i class="fa-solid fa-trash-can"></i>
                                    <span>remove</span>
                                </a>
                            </div>

                            <div class="Add-wishlist">
                                <a href="">
                                    <i class="fa-regular fa-heart"></i>
                                    <span>Add to wishlist</span>
                                </a>
                            </div>
                        </div>
                        <div class="price"> $1,199,00</div>
                    </div>
                </div>

                <div class="item">
                    <div class="car-img">
                        <img src="./images/image-car-6.jpg" alt="car image">
                    </div>
                    <div class="item-description">
                        <h3>Mazda CX404</h3>
                        <div class="color-info"><span class="color">Color:</span> <span>Baby blue</span></div>
                        <div class="class-info"><span class="class">Class:</span> <span>Third</span></div>

                        <div class="icons">
                            <div class="remove">
                                <a href="">
                                    <i class="fa-solid fa-trash-can"></i>
                                    <span>remove</span>
                                </a>
                            </div>

                            <div class="Add-wishlist">
                                <a href="">
                                    <i class="fa-regular fa-heart"></i>
                                    <span>Add to wishlist</span>
                                </a>
                            </div>
                        </div>
                        <div class="price"> $1,199,00</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="bill">
            <h3>Receipt</h3>
            <div class="total-price price"><span class="total">Total Price</span> <span class="price-value">$120000</span> </div>
            <div class="shipping-price price"><span class="shipping">Shipping</span> <span class="price-value">$11.99</span> </div>
            <div class="hr"><hr></div>
            <div class="promocode bill-title"> <div>Apply promocode</div></div>
            <div class="promo-input"><input type="text" placeholder="Promo code"> <a href=""><span class="apply-promo">Apply</span></a></div>
            <div class="hr"><hr></div>
            <div class="total-price-value bill-title"><div class="total">The total amount (including VAT) </div> <span class="price-value">$122000</span> </div>
            <div class="btn"><button> Proceed to checkout</button></div>
        </div>
</section>
<!-- End Cart Section-->