@page
@model Car_Store.Pages.CompareModel
@{
}


<link rel="stylesheet" href="~/css/compare.css" asp-append-version="true">
<div class="items">
    <div class="containerCompare">
        <div class="compareOurProducts">
            <img class="imgcontainer" src="images/compare.png" alt=""><br>
            Compare Our <br>
            Products.
        </div>
        <div class="compareItem">
            <div class="content">
                <h3 style="padding-left:50px">car name</h3>
                <img class="carImage" src="images/image-car-7.jpeg" alt=""><br>
                <h3>Pricing</h3>
                <hr class="bold" />
                <h4>Cash</h4>
                <p>
                    1999.0$
                </p>
                <hr class="light" />
                <h4>Installments</h4>
                <p>
                    ---
                </p>
                <hr class="light" />
                <h4>Min Deposit</h4>
                <p>
                    ---
                </p>
                <hr class="light" />
                <div class="BlueButton">
                    <button>Order now</button>
                </div>
                <h3>Ratings and reviews</h3>
                <hr class="bold" />
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span style="margin-left:20px">5/5</span>
                </div>
                <hr class="light" />
                <h4>Reviews</h4>
                <p>
                    --------------------------------------------------------------<br />
                    --------------------------------------------------------------<br />
                    --------------------------------------------------------------
                </p>
                <h3>Warranty</h3>
                <hr class="bold" />
                <h4>No, of years/mileage </h4>
                <p>
                    15,0000 km
                </p>
                <hr class="light" />
                <h4>Coverage</h4>
                <p>
                    ---
                </p>
                <h3>Features</h3>
                <hr class="bold" />
                <h4>Bluetooth</h4>
                <p>
                    15,0000 km
                </p>
                <hr class="light" />
                <h4>Heated Seats</h4>
                <p>
                    ---
                </p>
                <h3>Specifications</h3>
                <hr class="bold" />
                <h4>Engine power</h4>
                <p>
                    503 hp 6,000 rpm
                </p>
                <hr class="light" />
                <h4>Engine configuration</h4>
                <p>
                    V8
                </p>
                <h3>Fuel Economy</h3>
                <hr class="bold" />
                <h4>City/Hwy/Combined</h4>
                <p>
                    18 / 24 / 20 MPG
                </p>
                <h3>Dimensions</h3>
                <hr class="bold" />
                <h4>Weight</h4>
                <p>
                    2000 Kg
                </p>
                <hr class="light" />
                <h4>Height/width</h4>
                <p>
                    8 -- 9 meters
                </p>
            </div>
        </div>
        <!--second item-->
        <div class="compareItem">
            <div class="content">
                <h3 style="padding-left:50px">car name</h3>
                <img class="carImage" src="images/image 2.png" alt=""><br>
                <h3>Pricing</h3>
                <hr class="bold" />
                <h4>Cash</h4>
                <p>
                    1999.0$
                </p>
                <hr class="light" />
                <h4>Installments</h4>
                <p>
                    ---
                </p>
                <hr class="light" />
                <h4>Min Deposit</h4>
                <p>
                    ---
                </p>
                <hr class="light" />
                <div class="BlueButton">
                    <button>Order now</button>
                </div>
                <h3>Ratings and reviews</h3>
                <hr class="bold" />
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span style="margin-left:20px">5/5</span>
                </div>
                <hr class="light" />
                <h4>Reviews</h4>
                <p>
                    --------------------------------------------------------------<br />
                    --------------------------------------------------------------<br />
                    --------------------------------------------------------------
                </p>
                <h3>Warranty</h3>
                <hr class="bold" />
                <h4>No, of years/mileage </h4>
                <p>
                    15,0000 km
                </p>
                <hr class="light" />
                <h4>Coverage</h4>
                <p>
                    ---
                </p>
                <h3>Features</h3>
                <hr class="bold" />
                <h4>Bluetooth</h4>
                <p>
                    15,0000 km
                </p>
                <hr class="light" />
                <h4>Heated Seats</h4>
                <p>
                    ---
                </p>
                <h3>Specifications</h3>
                <hr class="bold" />
                <h4>Engine power</h4>
                <p>
                    503 hp 6,000 rpm
                </p>
                <hr class="light" />
                <h4>Engine configuration</h4>
                <p>
                    V8
                </p>
                <h3>Fuel Economy</h3>
                <hr class="bold" />
                <h4>City/Hwy/Combined</h4>
                <p>
                    18 / 24 / 20 MPG
                </p>
                <h3>Dimensions</h3>
                <hr class="bold" />
                <h4>Weight</h4>
                <p>
                    2000 Kg
                </p>
                <hr class="light" />
                <h4>Height/width</h4>
                <p>
                    8 -- 9 meters
                </p>
            </div>
        </div>
    </div>
</div>