@page
@model Car_Store.Pages.CutomerPostedCarModel
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/CustomerPostedCar.css" asp-append-version="true">


<div class="all-page-content-c">
    <div class="posts">
        <div class="Post-Card">
            <img src="~/images/noah-boyer-we3H3hwCPtc-unsplash.jpg" alt="Example Image">
            <h2>Example Title</h2>
            <p>$9.99</p>
            <button class="delete-button">Delete</button>
        </div>
        <div class="Post-Card">
            <img src="~/images/noah-boyer-we3H3hwCPtc-unsplash.jpg" alt="Example Image">
            <h2>Example Title</h2>
            <p>$9.99</p>
            <button class="delete-button">Delete</button>
        </div>
        <div class="Post-Card">
            <img src="~/images/noah-boyer-we3H3hwCPtc-unsplash.jpg" alt="Example Image">
            <h2>Example Title</h2>
            <p>$9.99</p>
            <button class="delete-button">Delete</button>
        </div>
        <div class="Post-Card">
            <img src="~/images/noah-boyer-we3H3hwCPtc-unsplash.jpg" alt="Example Image">
            <h2>Example Title</h2>
            <p>$9.99</p>
            <button class="delete-button">Delete</button>
        </div>
    </div>
</div>
