@page
@model Car_Store.Pages.Shared.DeleteClientModel
@{
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}

<link rel="stylesheet" href="~/css/delete.css" asp-append-version="true">
<div class="content">
<div class="ask card">
    <div>
        <span>Are you sure you want to delete The client with id @Model.client.ClientID?</span>
    </div>
    <div>
        <form method="post">
            <input type="hidden" name="ID" value="@Model.client.ClientID"/>
            <div class="divbutton">
                <input style="background-color:red;" class="button" asp-page-handler="Yes" type="submit" value="Yes" />
                <input style="background-color:green;" class="button" asp-page-handler="No" type="submit" value="No" />
            </div>
        </form>
    </div>
</div>
</div>