@page
@model Car_Store.Pages.DisplayClientsModel
@{
        if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}

<link rel="stylesheet" href="~/css/Tables.css" asp-append-version="true">
<div class="the-table">
    <table class="styled-table">
        <thead>
            <tr class="active-row">
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Password</th>
                <th scope="col">BirthDate</th>
                <th scope="col">Email</th>
                <th scope="col">UserType</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.DT.Rows.Count; i++)
            {
                <tr class="active-row">
                    @for (int j = 0; j < Model.DT.Columns.Count; j++)
                    {
                        <td>@Model.DT.Rows[i][j]</td>

                    }
                    <td><a asp-page="/DeleteClient" asp-route-ID="@Model.DT.Rows[i][0]">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>