@page
@model Car_Store.Pages.ProductPageModel
@{
    if (HttpContext.Session.GetInt32("User_Type") == null)
    {
        Layout = "_Layout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 0)
    {
        Layout = "ClientLayout";
    }
    else if (HttpContext.Session.GetInt32("User_Type") == 1)
    {
        Layout = "adminlay";
    }
}


<link rel="stylesheet" href="~/css/product-style.css" asp-append-version="true">

<div class="whole-page">
    <div class="landing">
        <div class="container">
            <div class="heading">
                <h3>2023 Ford Bronco Outer banks</h3>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
            </div>
            <div class="product">
                <div class="image">
                    <img src="images/image-car-7.jpeg" alt="" />
                </div>
                <div class="discription">
                    <h2>Description</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                        accusantium deserunt iste esse, magni qui repellendus id doloremque
                        voluptatem? Accusamus architecto soluta quia earum magnam sit neque
                        tenetur consequatur fuga dolore ab nisi numquam nam illum adipisci,
                        ad recusandae quidem suscipit veritatis doloremque rem! At molestiae
                        minus nisi tempora officiis.
                    </p>
                    <div class="price-button">
                        <p class="number">3000000$</p>
                        <button>Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="car-description">
        <div class="container">
            <div class="left">
                <h4>warranty</h4>
                <hr class="faded" />
                <p>No, of years mileage</p>
                <p class="number">300000 km</p>
                <hr class="short-hr" />
                <p>Coverage</p>
                <p>--</p>
                <hr class="short-hr" />
                <h4>Features</h4>
                <hr class="faded" />
                <p>blutooth</p>
                <hr class="short-hr" />
                <p>Heated seats</p>
            </div>
            <div class="right">
                <h4>specifications</h4>
                <hr class="faded" />
                <p>Engine power</p>
                <p class="number">503 hp 600 rpm</p>
                <hr class="short-hr" />
                <p>Engine configuration</p>
                <p class="number">V8</p>
                <hr class="short-hr" />
                <h4>Fuel economy</h4>
                <hr class="faded" />
                <p>City/Hwy/Combined</p>
                <p class="number">18 / 24 / 20 MPG</p>
            </div>
        </div>
    </div>

    <div class="similar-cars">
        <div class="crad">
            <img src="images/image 9.png" alt="" />
            <div class="caption">
                <h4>bugatti cheron</h4>
                <p>four wheel drive</p>
                <p>power ful v8</p>
                <p>Heighst quality leather</p>
                <div>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                </div>
                <p>
                    <i class="fa-solid fa-check"
                       style="color: #0d6efd; margin-top: 10px"></i>
                    In stock
                </p>
                <p class="number">300000 $</p>
            </div>
            <button>Add to cart</button>
        </div>

        <div class="crad">
            <img src="images/image 9.png" alt="" />
            <div class="caption">
                <h4>bugatti cheron</h4>
                <p>four wheel drive</p>
                <p>power ful v8</p>
                <p>Heighst quality leather</p>
                <div>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                </div>
                <p>
                    <i class="fa-solid fa-check"
                       style="color: #0d6efd; margin-top: 10px"></i>
                    In stock
                </p>
                <p class="number">300000 $</p>
            </div>
            <button>Add to cart</button>
        </div>

        <div class="crad">
            <img src="images/image 9.png" alt="" />
            <div class="caption">
                <h4>bugatti cheron</h4>
                <p>four wheel drive</p>
                <p>power ful v8</p>
                <p>Heighst quality leather</p>
                <div>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                </div>
                <p>
                    <i class="fa-solid fa-check"
                       style="color: #0d6efd; margin-top: 10px"></i>
                    In stock
                </p>
                <p class="number">300000 $</p>
            </div>
            <button>Add to cart</button>
        </div>

        <div class="crad">
            <img src="images/image 9.png" alt="" />
            <div class="caption">
                <h4>bugatti cheron</h4>
                <p>four wheel drive</p>
                <p>power ful v8</p>
                <p>Heighst quality leather</p>
                <div>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                    <i class="fa-solid fa-star" style="color: #fbff00"></i>
                </div>
                <p>
                    <i class="fa-solid fa-check"
                       style="color: #0d6efd; margin-top: 10px"></i>
                    In stock
                </p>
                <p class="number">300000 $</p>
            </div>
            <button>Add to cart</button>
        </div>
    </div>



</div>