@page
@model Car_Store.Pages.WhishListModel
@{
}

<link rel="stylesheet" href="./css/wishlist.css">
<section class="full current_page d-flex page_margin">
    <a href=""><span class="Home"> Home / </span></a> <!-- Link it to the home page-->
    <span class="Page">&nbsp; Wishlist</span>
</section>
<!-- End Current Page Section-->
<!-- Start Wishlist Section-->
<section class="wishlist page_margin">
    <div class="car-image">
        <img src="./images//Nissan-Tida-2007.jpg" alt="car1">
    </div>

    <div class="car-description">
        <h4>Nissan Tida 2007</h4>
        <p class="car-color">
            Color:
            <span>White</span>
        </p>
        <p class="car-class">
            Class:
            <span>First</span>
        </p>
        <p class="car-class">
            Description:
            <span>The Nissan Tida 2007 is a compact car that offers a spacious interior and good fuel efficiency. It features a 1.8-liter engine, front-wheel drive, and comes in sedan and.....</span>
        </p>
        <p class="price">$1,199.00</p>

        <div class="car-icons">
            <div class="remove-icon">
                <a href="">
                    <i class="fa-solid fa-trash-can" style="color: #000000;"></i>
                    <span>Remove</span>
                </a>
            </div>

            <div class="cart-icon">
                <a href="">
                    <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    <span>Add To Cart</span>
                </a>
            </div>

            <div class="comparison-icon">
                <a href="">
                    <i class="fa-solid fa-shuffle" style="color: #000000;"></i>
                    <span>Add to comparison</span>
                </a>
            </div>
        </div>

    </div>

</section>
<hr class="hr-wishlist">
<section class="wishlist page_margin">
    <div class="car-image">
        <img src="./images/Nissan-Tida-2007.jpg" alt="car1">
    </div>

    <div class="car-description">
        <h4>Nissan Tida 2007</h4>
        <p class="car-color">
            Color:
            <span>White</span>
        </p>
        <p class="car-class">
            Class:
            <span>First</span>
        </p>
        <p class="car-class">
            Description:
            <span>The Nissan Tida 2007 is a compact car that offers a spacious interior and good fuel efficiency. It features a 1.8-liter engine, front-wheel drive, and comes in sedan and.....</span>
        </p>
        <p class="price">$1,199.00</p>

        <div class="car-icons">
            <div class="remove-icon">
                <a href="">
                    <i class="fa-solid fa-trash-can" style="color: #000000;"></i>
                    <span>Remove</span>
                </a>
            </div>

            <div class="cart-icon">
                <a href="">
                    <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    <span>Add To Cart</span>
                </a>
            </div>

            <div class="comparison-icon">
                <a href="">
                    <i class="fa-solid fa-shuffle" style="color: #000000;"></i>
                    <span>Add to comparison</span>
                </a>
            </div>
        </div>

    </div>

</section>
<hr class="hr-wishlist">
<section class="wishlist page_margin">
    <div class="car-image">
        <img src="./images/Nissan-Tida-2007.jpg" alt="car1">
    </div>

    <div class="car-description">
        <h4>Nissan Tida 2007</h4>
        <p class="car-color">
            Color:
            <span>White</span>
        </p>
        <p class="car-class">
            Class:
            <span>First</span>
        </p>
        <p class="car-class">
            Description:
            <span>The Nissan Tida 2007 is a compact car that offers a spacious interior and good fuel efficiency. It features a 1.8-liter engine, front-wheel drive, and comes in sedan and.....</span>
        </p>
        <p class="price">$1,199.00</p>

        <div class="car-icons">
            <div class="remove-icon">
                <a href="">
                    <i class="fa-solid fa-trash-can" style="color: #000000;"></i>
                    <span>Remove</span>
                </a>
            </div>

            <div class="cart-icon">
                <a href="">
                    <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
                    <span>Add To Cart</span>
                </a>
            </div>

            <div class="comparison-icon">
                <a href="">
                    <i class="fa-solid fa-shuffle" style="color: #000000;"></i>
                    <span>Add to comparison</span>
                </a>
            </div>
        </div>

    </div>

</section>
<!-- End Wishlist Section-->